/*color palette variables (teal/indigo)*/
:root{
    --dark-primary-color:#00796B;
    --light-primary-color:#B2DFDB;
    --primary-color:#009688;
    --text-icons:#FFFFFF;
    --accent-color: #4863FE;
    --accent-color2:#667bf5; /* slightly different for doing hover effect (old:687ffe)*/
    --primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
}

/*default text color*/
h1,h2,h3,h4,h5,h6,h7,div,span,p{
    color: var(--primary-text);
}
/*override bootstrap color*/
.btn-primary{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.btn-primary:hover{
    background-color: var(--accent-color2);
    border-color: var(--accent-color2);
}
.form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
p a{
    color: var(--accent-color)
}
p a:hover{
    color: var(--accent-color2)
}
/*insert our color for focus*/
.form-control:focus, .form-check-input:focus{
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.2rem rgba(72, 99, 254, 0.25);
}