/*color palette variables (teal/indigo)*/
:root{
    --dark-primary-color:#00796B;
    --light-primary-color:#B2DFDB;
    --primary-color:#009688;
    --text-icons:#FFFFFF;
    --accent-color: #536DFE;
    --accent-color2:#687ffe; /* slightly different for doing hover effect */
    --primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
}

/*default text color*/
h1,h2,h3,h4,h5,h6,h7,div,span,p{
    color: var(--primary-text);
}
/*override bootsrap button color*/
.btn-primary{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.btn-primary:hover{
    background-color: var(--accent-color2);
    border-color: var(--accent-color2);
}