/* Code to have footer always on page bottom */
html, body, #__nuxt, .page {
    height: 100%;
}
.page {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/*formatting main*/
main{
    padding-top: 20px;
    padding-bottom: 20px;
}

/*color palette variables*/
:root{
    --dark-primary-color:#00796B;
    --light-primary-color:#B2DFDB;
    --primary-color:#009688;
    --text-icons:#FFFFFF;
    --accent-color:#7C4DFF;
    --accent-color2:#9068ff; /* slightly different for doing hover effect */
    --primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
}

/*default text color*/

h1,h2,h3,h4,h5,h6,h7,div,span{
    color: var(--primary-text);
}
